
   
  


<form  (ngSubmit)="formSubmit()">
  <h2 style="text-align: center;">Register Here</h2>
  <img  src="../../../assets/Register.png" alt="register"  />
  <div  class="col-sm-3 my-1">
    <input type="text" class="form-control" placeholder="username" name="username" [(ngModel)]="user.username"/>
  </div>

  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <input name="firstname" [(ngModel)]="user.firstname"
        type="text"
        class="form-control"
        placeholder="First Name"
      />
    </div>
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputGroupUsername"
        >Last Name</label
      >
      <div class="input-group">
        <div class="input-group-prepend"></div>
        <input name="lastname"
        [(ngModel)]="user.lastname"
          type="text"
          class="form-control"
          id="inlineFormInputGroupUsername"
          placeholder="Last Name"
        />
      </div>
    </div>
  </div>

  <div class="input-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email"
    [(ngModel)]="user.email"
      type="email"
      class="form-control"
    
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="input-group">
    <label for="exampleInputPassword1">Password</label>
    <input
    name="password"
    [(ngModel)]="user.password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
    />
  </div>

  <div class="col-sm-3 my-1">
    <input 
    name="phone"
    type="number" class="form-control" placeholder="Phone Number" [(ngModel)]="user.phone" />
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Import Your image here</label>
    <input 
    name="profile"
    type="file" class="form-control-file" id="exampleFormControlFile1" [(ngModel)]="user.profile">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> 
</form>

<!-- <form>
  <p>
    Nom :<br>
    <input type="text" name="Nom" size="40" maxlength="40"><br>
    Prénom :<br>
    <input type="text" name="Prenom" size="40" maxlength="40"><br>
    Adresse :<br>
    <input type="text" name="Adresse" size="40" maxlength="40"><br>
    Ville :<br>
    <input type="text" name="Ville" size="20" maxlength="20"><br>
    Province :<br>
    <input type="text" name="Province" size="40" maxlength="40"><br>
    Pays :<br>
    <input type="text" name="Pays" size="40" maxlength="40"><br>
    Code postal :<br>
    <input type="text" name="Codepostal" size="10" maxlength="10">
  </p>
</form> -->
