

<div class="bootstrap-wrapper">
  <div class="container">
      <div class="row">
         <div class="col-md-6 offset-md-3">
             <div class="container text-center">
                <img  src="../../../assets/Register.png" alt="register"  />
                <h1 >Login Here</h1>
                <form >

                    username :<br>
                    <input type="text" name="username" size="40" maxlength="40"><br>
                    password :<br>
                    <input type="password" name="password" size="40" maxlength="40"><br>
                    <br>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button style="margin-left: 10px;" type="submit" class="btn btn-primary">Reset</button>
                </form>
             </div>
            
         </div>
      </div>
  </div>  
</div>
<!-- <form>
    <p>
      Nom :<br>
      <input type="text" name="Nom" size="40" maxlength="40"><br>
      Prénom :<br>
      <input type="text" name="Prenom" size="40" maxlength="40"><br>
      Adresse :<br>
      <input type="text" name="Adresse" size="40" maxlength="40"><br>
      Ville :<br>
      <input type="text" name="Ville" size="20" maxlength="20"><br>
      Province :<br>
      <input type="text" name="Province" size="40" maxlength="40"><br>
      Pays :<br>
      <input type="text" name="Pays" size="40" maxlength="40"><br>
      Code postal :<br>
      <input type="text" name="Codepostal" size="10" maxlength="10">
    </p>
  </form> -->